.process{
    &__list{
        margin: 60px 0;
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
        
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        flex:1;

        &:first-child::after{
            position: absolute;
            content: "";
            max-width:118px;
            width:100%;
            height: 22px;
            background: url(../img/arrow1.svg);
            top: 10%;
            right: -20%;
        }
        &:nth-child(2)::after{
            position: absolute;
            content: "";
            max-width:118px;
            width:100%;
            height: 22px;
            background: url(../img/arrow2.svg);
            top: 20%;
            right: -20%;
        }
        h3{
            display: flex;
            align-items: center;
            padding-top: 20px;
    
        }
        span{
            display: flex;
            align-items: center;
            font-size: 30px;
        }
        p{
            display: flex;
            padding-top: 20px;
            align-items: center;
            color: #666666;
    
        }
    }
    &__ellipse{
        background-color: $primary-color;
        display:flex;
        width: 70px;
        height: 70px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        color: #fff;
        padding: 20px 20px;
        border:8px solid $borderEllipse-color;
    }
    &__ellipse h2{
       display: flex;
       align-items: center;
       
    }
}
.service{
   
    &__list{
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
        
    }
    &__block{
        margin-bottom: 60px;
        display: flex;
        column-gap: 10px;
        align-items: flex-start;
        flex: 1;
    }
    &__img{
        flex-shrink: 0;
        width: 80px;
        padding: 10px;
        border: 1px solid #ccc;
    }
    &__blockText{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        cursor: pointer;

        p{
            color: #666666;
            font-size: 14px;
        }
    }
}
.blog{
    margin-top: 60px;
    

    &__list{
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
    }
    &__title{
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 16px;

    }
    &__item {
        font-size: 14px;
        align-items: center;
        color: #666666;
        line-height: 20px;
    }
    &__info{
        display: flex;
        padding-top: 10px;
        align-items: center;
        column-gap: 20px;
        span{
            font-size: 12px;
            color: $line-color;
        }
    }
    
    &__cat{
        border-right: 1px solid $line-color;
        padding-right: 20px;
        color: $text-color!important;
    }
   
 }

.opinions{
    &__list{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }
    &__img{
        border-radius: 100%;
        border:6px solid $borderEllipse-color;
    }
    &__details{
        padding-top: 30px;
        line-height: 30px;
        display: flex;
        text-align: center;
        font-weight: 300;
    }
    .owl-carousel .owl-dots.disabled {
        display: flex;
        justify-content: center;
      }
    .owl-carousel .owl-item {
        .opinions__img{
            display: block;
            width:100px;
            height: 100px;
        }
        
      }
   
}
.analysis{
    margin-bottom: 60px;
    margin-top: 60px;
    &__list{
        padding: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;

    }
    &__text{
        color: $grayText-color;
        font-size: 22px;
    }
    &__title{
        font-size: 38px;
        padding: 20px 0 ; 
        color:$Darkgray-color;
     }
    &__img{
        width: 32px;
        height: 32px;
    }
}


.education{
    background-color: #fff;

    &__wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 1050px) {
            
                &__wrapper{
                    flex-direction: column;
                    row-gap: 30px;
                }
                &__right{
                    flex-direction: column;
                    align-items: center;
                    row-gap: 30px;
                }
        }
    }

    &__left{
        text-align: center;
        padding-right: 50px;
    }

    &__right{
        display: flex;
        width: 50%
        
    }

    &__text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
    }

    &__title{
        display: flex;
        text-align: left;
        font-size: 24px;
        margin-bottom: 30px;
    }

    &__desc{
        text-align: left;
        display: flex;
        flex-direction: column;
        line-height: 28px;
        color: $Darkgray-color;
        padding-left: 30px;
        
       ul{
        list-style: none;
       }
       li{
        position: relative;
       }
       li:before{
        color: $Darkgray-color;
        content: "•";
        position: absolute;
        left: -1em;
       }
    }
    &__assetsLeft{
        display: flex;
        flex-direction: column;
        
    }
    &__assetsRight{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }
    &__blog{
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:30px;
        margin-bottom: 20px;
        margin-right: 20px;

        background-color: $background-color;
        border-radius: 10px;
        span{
            padding-top: 30px;
        }
    }

    &__img{
        width: 64px;
        
    }
 
}
 .general__title{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
        margin-top:120px;
        
        
    & span{
        color: $primary-color;
        font-size: calc(13px + .5vw);

        font-weight: bold;
    }
    & h2{
       color: $text-color;
       font-size: calc(32px + .5vw);
       margin: 20px 0px;
    }
    & p{
        color: #666666;
        line-height: 20px;
        display: flex;
        max-width: 480px;
        text-align: center;
    }
 }


 .faq{
    &__list{
        display: flex;
        flex-direction:column;
        align-items: center;
        row-gap: 30px;
        padding: 0 10px;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        background-color: #F3F3F3;
        max-width: 960px;
        padding: 2rem;
        border-radius: 20px;
        width: 100%;
        cursor: pointer;

        
        p{
            display:  none;
        }
        i{
            font-size: 12px;
            color: $primary-color;
            border-radius: 100%;
            background-color: #D69192;
            padding: 5px;
        }

    }
 }